body {
background-color: #181f1b;
color: rgb(255, 255, 255);
text-shadow: 2px 1px 2px #181f1b;
text-align: center;
line-height: 1.5;
font-family: 'Laila', sans-serif;
}
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }

.cafe-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 55px;
}

.opening-hours, .contact-details, .food-menu, .gallery {
    background-color: #32533D;  
    
}

.top-nav {
    background-color: #4B9563;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 30px;

}

.menu-bar {
    margin: 0;
    font-size: 28px;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-shadow: 3px 3px 3px #181f1b;


}
a:hover {
    color: white;
    background-color: #629262;
    font-size: 29px;
}


.cafe-top-left {
    max-width: 400px;

}

.intro {
    margin-top: 15px;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}
h3 {
    padding-top: 30px;
    font-size: 35px;
    padding-bottom: 20px;
}
h4 {
    font-size: 30px; 
    padding-bottom: 28px;
}
p {
    max-width: 650px;
    font-size: 27px;


}
.section-two {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;

}
.opening-hours, .contact-details {
    max-width: 500px;
    font-size: 30px; 

    padding: 40px;

}
h5 {
    font-size: 35px;
    padding-bottom: 28px;
}
li {
list-style: none; 
line-height: 1.5;
word-spacing: 10px;
}
.cafe-lattes {
    max-width: 450px;
}
.iced-lattes, .breakfast-plate {
    max-width: 300px;
    max-height: 300px;

}
.breakfast-plate {
    padding-right: 35px;
    padding-left: 100px;
}

.section-three {
    display: flex;
    padding: 60px;

}
.food-menu {
    margin-left: 100px;
    margin-top: 65px;
    padding: 40px;

}
.contact-details {
    margin: 0 auto;
}

.gallery-images {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.gallery, .social-media {
    margin: 65px;
    font-size: 30px; 
    padding-top: 20px;
}
