body {
background-color: #32322C;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 2px black;
}
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }

.cafe-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 55px;
}
.top-nav {
    background-color: #617641;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 30px;

}

.menu-bar {
    font-family: 'Exo 2', sans-serif;
    font-size: 35px;
    word-spacing: 20px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #171D1C;
}

.cafe-top-left {
    max-width: 400px;

}

.intro {
    margin-top: 15px;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
h3 {
    padding-top: 30px;
    font-size: 35px;
    padding-bottom: 20px;
}
h4 {
    font-size: 30px; 
    padding-bottom: 28px;
}
p {
    max-width: 650px;
    font-size: 25px;
    line-height: 1.5;

}
